a {
  text-decoration: none;
}

h2 {
  margin: 15px 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  padding: 0;
}

.filter-box {
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 20px;
}

.middle-row {
  margin: 20px 0 20px;
}


.selected-filter {
  display: inline-block;
  background: grey;
  padding: 10px;
  border-radius: 8px;
  margin-right: 15px;
  color: #fff;
}

.selected-filter a{
  color: #fff;
  padding-left: 8px;
}

.box-container {
  background-color: black;
  color: white;
  padding: 0 0 20px;
}

.box-container .tile {
  width: 24.5%;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0px 0 20px;
  min-height: 452px;
  display: grid;
}
@media only screen and (max-width: 767px) { 
  .box-container .tile{
    width: 47%;
    min-height: 415px;
  }
  
}
.box-container .tile-inner{
  color: white;
  background: #333;
}

.box-container .tile-inner figure{
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100px;
}

.box-container .tile-inner .top-text{
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.32941176470588235);
  width: 100%;
  padding: 3px 8px 8px;
  box-sizing: border-box;
}

.box-container .tile-inner .top-text h4{
  margin: 0;
  line-height: 22px;
  font-size: 20px;
  font-weight: 400;
}
.box-container .tile-inner .top-text p{
  margin: 0;
  line-height: 18px;
  padding-top: 4px;
  font-size: 12px;
  padding-left: 3px;
}


.tile img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.tile ul{
  margin: 0;
    padding: 20px 10px;
}
.tile ul li {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #999;
  padding: 4px 0 3px;
}
.tile ul li .left-ele{
  width: 50px;
  float: left;
}
.tile ul li .right-ele{
  text-align: right;
  display: block;
  color: yellow;
}



.search-box input[type="text"] {
  width: 50%;
}
@media only screen and (max-width: 767px) { 
  .search-box input[type="text"] {
    width: 77%;
  }
}
.search-box p {
  font-weight: 400;
  margin-bottom: 0;
}
.search-box input[type="button"] {
  padding: 2px 15px;
}
.sort-dropdown {
  margin-top: 50px;
}
.sort-dropdown select {
  height: 25px;
  width: 50%;
}

.no-results{
  text-align: center;
  padding: 20px 0 10px;
  font-size: 20px;
}
@media only screen and (max-width: 767px) { 
  .search-box {
    width: 100%;
  }
  .sort-dropdown {
    float: left;
    width: 100%;
  }
  .sort-dropdown select {
    width: 100%;
  }
}
